{% extends 'index.html' %}

{% block title %}
  YaCut - укоротитель ссылок
{% endblock %}

{% block content %}
 <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Мой профиль
      </p>

      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">      

          Username: {{ context.username }} <br>
          Имя: {{ context.username }} <br>

          {% if context.avatar %}
            <img src="{{ url_for('images', filename=context.avatar) }}">
          {% endif %}

          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row ">
          <div class="col-sm">
          </div>
          <div class="col-sm">

            {% if error %}
              <p class="text-center">
                <h5 class="text-center">
                    {{ error.error }}
                </h5>
              </p>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>

    </section>
  </main>


{% endblock %}